body {
    background-color: #fffbe0 !important;
}

.container {

    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    padding-right: 0px !important;
    padding-left: 0px  !important;
}

.q-footer{
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.3);
    padding-top: 10px;
    
}

.quiz-answer-card:hover{
    cursor:pointer;
    background-color: rgba(245, 215, 47,0.05)

}

.bg-success, .bg-danger {
    color: white;
}

.width-100 {
    width: 100%;
}

.center {
    justify-content: center !important;
}

.text-center{
    text-align: center;
}

.final-headline {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.button-restart {
    display: flex;
    justify-content:center;
    margin-top: 2rem;
}