body {
    background-color: #fae2af !important;
}

.container {

    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
}

.q-footer{
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.3);
    padding-top: 10px;
    
}

.quiz-answer-card:hover{
    cursor:pointer;
    background-color: rgba(245, 215, 47,0.05)

}

.bg-success, .bg-danger {
    color: white;
}

